<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Video_Teca</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Video_Teca.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="~/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.6.4.min.js" />

    <!-- End Slick -->

</head>
<body>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 px-3">
            <div class="container-fluid">
                <a class="navbar-brand order-1" href="#">
                    <img class="img-logo" src="~/images/logo.webp"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" onclick="ocultarImagen()">
                    <span class="navbar-toggler-icon"></span>
                </button>

               @* <button class="btn navbar-toggler" data-toggle="collapse" data-target="#essentialmenus" id="yui_3_17_2_1_1685653455677_128">
                    
                </button>*@

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between order-2">
                    <ul class="navbar-nav flex-grow-1">
                       @if (!User.IsInRole("superAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark px-2 link-secondary" asp-area="" asp-controller="Client" asp-action="DisplayClient">Videos</a> @*Cambiar por la vista de peliculas*@
                            </li>
                        }
                        @if (!User.IsInRole("client"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark px-2 link-dark" asp-area="" asp-controller="Admin" asp-action="UserAdministration">Administracion de usuarios</a>  @*Cambiar por la vista de administracion*@
                            </li>
                        }
                                    
                    </ul>
                </div>

                @*<div class="col-12 col-lg-auto me-lg-auto justify-content-center order-3">  PARA MOSTRAR UN ICONO DE BUSQUEDA
                    <button class="btn btn-light" type="submit">
                        <i class="fas fa-search"></i>
                    </button>

                </div>*@ 

                <div class="dropdown order-3 drop-margin" id="drop-hidden">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="img-perfil" class="img-profile rounded-circle img-thumbnail" />
                    </a>                                                
                    <ul class="dropdown-menu text-small dropdown-menu-lg-end dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownuser">
                        
                        <li>                          
                            <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Profile">Perfil</a>

                        </li>

                        <li>
                            <hr class="dropdown-divider"/>
                        </li>

                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="UserAuthentication" asp-action="Logout">Cerrar sesi&oacuten</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Video_Teca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
    <script src="~/js/DeleteUser.js"></script>
    
    <script src="~/js/LoadUserData.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@section scripts {
    <script type="text/javascript">
        
    </script>
}
