@model List<Video_Teca.Models.Comment>

<h1>Comentarios</h1>

<ul>
    @foreach (var comment in Model)
    {


        <div class="container">
            <strong>Author:</strong> @comment.Username
            @comment.comment1
       </div>
      
    }
</ul>