@model IEnumerable<Video_Teca.Models.MoviesAndSeries>

@{

    ViewData["Title"] = "DisplayClient";
}
@*@ViewBag.Username*@
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/Client.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/LoadData.js"></script>
   
</head>
<body>
    
    @foreach (var carousel in ViewBag.Carousels)
    {
        <div class="galery">
            
            @foreach (var item in Model)
            {
                <div class="Image_Carrusel">
                    <img src="@Html.DisplayFor(modelItem => item.movie_cover)" href="#" class="btn-popup" data-movie-id="@item.id"  />
                </div>
            }
        </div>
    }
    <div id="popup-container">
        <div id="popup-content">
  
        </div>
    </div>
    

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     
        <script type="text/javascript">
            $(document).ready(function () {
                $(".galery").slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    centerMode: true,
                    variableWidth: true
                   
                });

            });

        </script>

    }

</body>
</html>



