@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core </a>.</p>
    <label class="text-username"></label>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            window.onload = function () {
                if ('@ViewBag.UserId' != "@ViewBag.Username") { //Determina si recibio el id del usuario, es decir, si es la primera llamada a index
                    localStorage.clear(); //Elimina todo lo que este en localstorage antes de guardar datos en el
                   
                    var UserId = '@ViewBag.UserId';
                    localStorage.setItem('idUser', UserId); //Guarda el id del usuario en localstorage

                    var username = '@ViewBag.Username';
                    localStorage.setItem('username', username); //Guarda el id del usuario en localstorage

                    $.ajax({
                        url: '/Home/getBytesImage',
                        type: 'GET',
                        data: { id: UserId },
                        success: function (response) {
                            localStorage.setItem('bytesImg', response); //Guarda la imagen del usuario en localstorage

                            var outputElement = document.getElementById('img-perfil');
                            outputElement.src = 'data:image/webp;base64,' + response;

                        }
                    });
                }else{
                    LoadUserData(); //Carga la imagen y el username al nav de la aplicacion
                }
            };


        });
      
    </script>
}
