.img-profile {
}

#img-perfil-ampliada {
    background: transparent;
    background: none;
}

#ImageData {
    font-size: calc(3px + 2vmin);
}

.input-readonly, .btn-correo, .btn-contrasena {
    width: 39vmin;
    font-size: calc(7px + 1vmin);
}
.btn-cancelar-contrasena, .btn-cancelar-correo {
    width: 16vmin;
    font-size: calc(7px + 1vmin);
}

.text-label {
    width: 9.5vmin;
    font-size: calc(8px + 1vmin);
}

.lb-password {
    font-size: calc(8px + 1vmin);
}

.input-change {
    width: 33vmin;
}

.input-pass, .span-validation {
    width: 35vmin;
    calc(8px + 1vmin)
}

.btn-cambiar {
    background: rgb(230 231 39 / 82%);
    border-color: rgb(230 231 39 / 82%);
}

    .btn-cambiar:hover {
        background: rgb(230 231 39);
        border-color: rgb(230 231 39);
    }

.btn-guardar {
    background: rgb(1 49 73 / 85%);
    border-color: rgb(1 49 73 / 85%);
    color: white;
}

    .btn-guardar:hover {
        background: rgb(1 49 73 );
        color: white;
    }

.btn-cancelar{
    background: rgb(121 0 0 / 80%);
    border-color: rgb(121 0 0 / 80%);
    color: white;
}

    .btn-cancelar:hover {
        background: rgb(121 0 0 / 100%);
        color: white;
    }

.content-delete-user {
    background: rgb(0 109 167 / 100%);
    color: white;
    font-weight: initial;
}